Options -MultiViews
RewriteEngine On

RewriteRule ^admin/$ ./index.php?ctl=admin [L]
RewriteRule ^projects/$ ./index.php?ctl=projects [L]
RewriteRule ^gantt/$ ./index.php?ctl=gantt [L]
RewriteRule ^sign-in/$ ./index.php?ctl=signin&login=test [L]
RewriteRule ^sign-up/$ ./index.php?ctl=signup [L]
RewriteRule ^sign-out/$ ./index.php?ctl=signout [L]
RewriteRule ^not-signed-in/$ ./index.php?ctl=notsigned [L]
RewriteRule ^not-user-agent/$ ./index.php?ctl=notuseragent [L]
RewriteRule ^error/$ ./index.php?ctl=error [L]
RewriteRule ^no-action/$ ./index.php?ctl=error&message=Action_isn\'t_available_at_the_moment [L]
RewriteRule ^execution-error/$ ./index.php?ctl=error&message=Action_could_not_be_executed [L]
RewriteRule ^access/$ ./index.php?ctl=access [L]
RewriteRule ^confirm-email/$ ./index.php?ctl=confirmEmail [L]