RewriteRule ^/admin$ /index\.php?ctl=admin
RewriteRule ^/login$ /index\.php?ctl=login
RewriteRule ^/signup$ /index\.php?ctl=signup
RewriteRule ^/calendar$ /index\.php?ctl=calendar
RewriteRule ^/notsigned$ /index\.php?ctl=notsigned
RewriteRule ^/error$ /index\.php?ctl=error
RewriteRule ^/access$ /index\.php?ctl=access
RewriteRule ^/confirmEmail$ /index\.php?ctl=confirmEmail