#Client files to ignore
test.html
test.php
css/*
client/test.sql
client/testAjax.html
*.jpg
*.jpeg
*.png
*.gif

#Server files to ignore
!server/logs/
server/logs/*

#Local files
!structure/
structure/*
!backups/
backups/*
*backup.*
!client/downloads/
client/downloads/*

#PHPUnit 9.0.0 by Sebastian Bergmann and contributors.
!vendor/
vendor/*
composer.json
composer.lock

#Visual Studio Code configuration files
!.vscode/
.vscode/*
.VSCodeCounter/*
testing.txt
