#Client files to ignore
test.html
test.php
src/css/*
dist/css/*
src/client/test.sql
dist/client/test.sql
src/client/testAjax.html
dist/client/testAjax.html
src/client/test.json
dist/client/test.json
dist/dist.zip
*.jpg
*.jpeg
*.png
*.gif

#Server files to ignore
src/!server/logs/
dist/!server/logs/
src/server/logs/*
dist/server/logs/*

#Local files
!structure/
structure/*
!backups/
backups/*
*backup.*
src/!client/downloads/
dist/!client/downloads/
src/client/downloads/*
dist/client/downloads/*

#PHPUnit 9.0.0 by Sebastian Bergmann and contributors.
!vendor/
vendor/*
composer.json
composer.lock

#Visual Studio Code configuration files
!.vscode/
.vscode/*
.VSCodeCounter/*
testing.txt
*sitemap*