test.html
test.php
!SQL/
SQL/*
*backup.*
!.vscode/
.vscode/*
!server/logs/
server/logs/*
!client/downloads/
client/downloads/*
!/downloads/
/downloads/*
css/*
*.jpg
*.jpeg
*.png
*.gif
client/test.sql
