#<Directory "./libs">
#    Options -Indexes
#    DirectoryIndex disabled
#</Directory>
#
#<Directory "./logs">
#    Options -Indexes
#    DirectoryIndex disabled
#</Directory>
#
#<Directory "./scripts">
#    Options -Indexes
#    DirectoryIndex disabled
#</Directory>
#
#<Directory "./styles">
#    Options -Indexes
#    DirectoryIndex disabled
#</Directory>
#
#<Directory "./templates">
#    Options -Indexes
#    DirectoryIndex disabled
#</Directory>
#
#<Directory "./">
#    Options Indexes
#    DirectoryIndex index.php
#    Order Allow, Deny
#    Allow all
#    Deny none
#</Directory>
#
#RewriteRule /admin /index.php?ctl=admin
#RewriteRule /login /index.php?ctl=login
#RewriteRule /signup /index.php?ctl=signup
#RewriteRule /calendar /index.php?ctl=calendar
#RewriteRule /notsigned /index.php?ctl=notsigned
#RewriteRule /error /index.php?ctl=error
#RewriteRule /access /index.php?ctl=access
#RewriteRule /confirmEmail /index.php?ctl=confirmEmail