html, body {
    width: 100%;
    height: 100%;
}

* {
    scrollbar-width: thin;
}

body {
    background-color: #1f1f22 !important;
    /*background-color: #ececec !important;*/
    overflow: hidden;
}

nav {
    background-color: #343a40 !important;
    color: rgba(255, 255, 255, 0.75) !important;
}

nav.navbar, nav.navbar+section {
    position: relative !important;
    z-index: 20 !important;
}

nav.navbar+section {
    z-index: 19 !important;
}

main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: calc(100vh - 175px);
    background: linear-gradient(to right, #00d2ff, #3a7cd5) no-repeat;
    overflow: auto;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

/* .btn-group .btn {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
} */

.border-3 {
    border-width: 3px !important;
}

.btn-warning {
    color: #343a40 !important;
}

@media screen and (prefer-color-scheme: light) {
    body {
        background-color: #dbdbdb;
        color: #1f1f22;
    }
    .navbar {
        background-color: #eeeeee !important;
    }
    .nav-link {
        color: rgba(0, 0, 0, 0.75) !important;
    }
}