main {
    flex-direction: row !important;
}

#content {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}

.projectContainerTitle {
    cursor: pointer;
}

.action {
    width: 150px;
    height: 150px;
}

.action .actionIcon {
    text-align: center;
}

.action .actionIcon .fa {
    font-size: 5rem;
}

.projectCardFlags {
    position: absolute;
    right: .5em;
}

.projectHeader {
    background-image: url("https://i.picsum.photos/id/1060/1920/1080.jpg");
    background-size: 100% 100%;
}

.tab {
    border-bottom: 0.5em solid transparent;
    transition: all 0.2s ease;
}

.tab.active {
    border-bottom: .5em solid rgb(21, 103, 255);
}

.projectCollaboratorImg {
    width: 75px;
    height: 75px;
}

.projectCollaboratorProfileBtn {
    align-self: center;
}