main {
    flex-direction: row !important;
}

#content {
    height: 100% !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
}

nav.navbar, .breadcrumbContainer, .footer {
    display: none !important;
}

main {
    height: 100% !important;
}

.md-form {
    margin: .75rem !important;
}

#mainPanel {
    z-index: 2149999999 !important;
    width: 40% !important;
    height: 120% !important;
    top: -10% !important;
    transform-style: preserve-3d;
    transition: transform 0.25s ease-in-out;
    /*background: url('https://i.picsum.photos/id/1060/1920/1080.jpg?blur=5') no-repeat !important;*/
    background-position-x: 25% !important;
}

#mainPanel.moveImage {
    background-position-x: 55% !important;
}

#signFormsContainer {
    perspective: 1000px;
}